body {
	font-family: 'Comfortaa', cursive;
	color:white;
	text-align:center;
	background-color:teal;
}
.pagination a {
	color: white;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color:red; 
	color:white;
}

.pagination a:hover:not(.active) {background-color:red; }

.right {
	text-align: right;
}