body {
	background-color:#990033;
	color:#00ff00;
	font-family: 'Press Start 2P', cursive;
	text-align:center;
}
h4 {
	color:#00ff00;
	font-family: 'Press Start 2P', cursive;
	text-align:center;
}
.top_nav_item {
	margin:15px;
	color:#00ff00;
	text-decoration: none;
}
.top_nav_item:hover {
	margin:15px;
	color:#ffff00;
	text-decoration: none;
}
#current_page {
	text-decoration: underline;
	border-bottom:3px #00ff00 solid;
}
iframe {
	border:4px #00ff00 solid;
}
h2 {
	text-decoration: underline overline;
	border-top-left:10px;
	border-top-left:5px;
	background-color: #b30000;
}
