body {
	text-align:center;
	font-family:'Bangers', cursive;
}

}
h2 {color:pink;

}

h1{color:yellow;
}

#first {
	text-align:center;
}

#second {
	text-align: center;
}

#first {border:2px black solid;
}
 head {font-family: 'Bangers', cursive;}
